.card {
  background-color: red;
  width: 2%;
  height: 2%;
  border-radius: 10%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  color: white;
}
.slots-container {
  display: flex;
  flex-direction: row;
}
